
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #282c34;
    color: #abb2bf;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #21252b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #61afef;
    margin-bottom: 20px;
}

.insert {
    margin-bottom: 2%;
    padding: 10px 20px;
    background-color: #61afef;
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.delete {
    padding: 10px 20px;
    background-color: #a82918;
    color: #1d1c1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.insert:hover {
    background-color: #528bff;
}
.delete:hover {
    background-color: #360706;
    color: #7a7a7a;
}